import * as React from 'react';

export type {{pascalCase name}}State = {

}

export type {{pascalCase name}}Props = {

}

export function {{pascalCase name}}(props: {{pascalCase name}}Props) {
  const [state, setState] = React.useState<{{pascalCase name}}State>(); 
  return (
    <div>

    </div>
  );
}